@model Registration.Models.AttendanceViewModel
@{
    ViewBag.Title = "SuperAdmin";

}
<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Review Employee", "Index")<br /> </li>
    <li><a href="/Test/Registration">Register</a></li>

</ul><br/>
<h2>Attendance Record</h2>


<div class="container" style="width:40%;margin-top:2%">

    <table class="table table-responsive">
        <tr>
            <th>Date</th>
            <th>Employee</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Work Time</th>
            <th>Today Wage </th>

            
            <th></th>
        </tr>
        <tbody>

            @if (ViewBag.AttendanceList != null)
            {

                foreach (var item in ViewBag.AttendanceList)
                {
                    <tr id="row_@item.AttendanceId">
                        <td>@item.Date</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.InTime</td>
                        <td>@item.OutTime</td>
                        <td>@item.WorkHours</td>
                        <td>@item.Wage</td>
                    </tr>

                }
            }
        </tbody>
    </table>
    </div>
